Repository EllisCreekFarm/homelab, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/bootstrap, area/kubernetes, area/taskfile, cluster

fix(networking) change FQDN to correct subdomain
  kubernetes/service/apps/development/echo-server/helmrelease.yaml
Labels: area/kubernetes, cluster

fix(monitoring): improve method Gatus external endpoint determines FQDN
  kubernetes/templates/gatus/external/configmap.yaml
Labels: area/kubernetes, cluster

refactor(git): migrate git repo from kadaan user to elliscreekfarm org
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/01-issue.yml
  .github/renovate.json5
  README.md
  Taskfile.yaml
  kubernetes/service/core/flux-system/flux-operator/instance/github/notifications/notification.yaml
Labels: area/github, area/kubernetes, area/taskfile, cluster

feature(ci): enabled merge_queue on flux and kubeconform actions
  .github/workflows/flux-diff.yaml
  .github/workflows/kubeconform.yaml
Labels: area/github

fix(ci): fix the flux-diff github action
  .github/workflows/flux-diff.yaml
Labels: area/github

fix(tls): make tls certificate name generic
  kubernetes/bootstrap/apps/templates/resources.yaml.j2
  kubernetes/bootstrap/bootstrap.env
Labels: area/kubernetes, cluster

chore(flux): migrate capacitor & cf zero trust to helm repository
  kubernetes/flux/meta/repositories/git/cloudflare-zero-trust.yaml
  kubernetes/flux/meta/repositories/git/kustomization.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
  kubernetes/flux/meta/repositories/helm/sebastiangaiser.yaml
  kubernetes/flux/meta/repositories/helm/zelic.yaml
  kubernetes/flux/meta/repositories/oci/capacitor.yaml
  kubernetes/flux/meta/repositories/oci/kustomization.yaml
  kubernetes/service/core/flux-system/capacitor/access/ingress.yaml
  kubernetes/service/core/flux-system/capacitor/access/networkpolicy.yaml
  kubernetes/service/core/flux-system/capacitor/helmrelease.yaml
  kubernetes/service/core/flux-system/capacitor/ks.yaml
  kubernetes/service/core/flux-system/capacitor/kustomization.yaml
Labels: area/kubernetes, cluster

fix(ci): fix the flux-diff github action
  .github/workflows/flux-diff.yaml
Labels: area/github

fix(tls): make tls certificate name generic
  kubernetes/bootstrap/apps/templates/resources.yaml.j2
  kubernetes/bootstrap/bootstrap.env
Labels: area/kubernetes, cluster

chore(flux): migrate capacitor & cf zero trust to helm repository
  kubernetes/flux/meta/repositories/git/cloudflare-zero-trust.yaml
  kubernetes/flux/meta/repositories/git/kustomization.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
  kubernetes/flux/meta/repositories/helm/sebastiangaiser.yaml
  kubernetes/flux/meta/repositories/helm/zelic.yaml
  kubernetes/flux/meta/repositories/oci/capacitor.yaml
  kubernetes/flux/meta/repositories/oci/kustomization.yaml
  kubernetes/service/core/flux-system/capacitor/access/ingress.yaml
  kubernetes/service/core/flux-system/capacitor/access/networkpolicy.yaml
  kubernetes/service/core/flux-system/capacitor/helmrelease.yaml
  kubernetes/service/core/flux-system/capacitor/ks.yaml
  kubernetes/service/core/flux-system/capacitor/kustomization.yaml
Labels: area/kubernetes, cluster

fix(ci): fix the flux-diff github action
  .github/workflows/flux-diff.yaml
Labels: area/github

fix(tls): make tls certificate name generic
  kubernetes/bootstrap/apps/templates/resources.yaml.j2
  kubernetes/bootstrap/bootstrap.env
  kubernetes/service/core/cert-manager/cert-manager/tls/pushsecret.yaml
Labels: area/kubernetes, cluster

chore(flux): migrate capacitor & cf zero trust to helm repository
  kubernetes/flux/meta/repositories/git/cloudflare-zero-trust.yaml
  kubernetes/flux/meta/repositories/git/kustomization.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
  kubernetes/flux/meta/repositories/helm/sebastiangaiser.yaml
  kubernetes/flux/meta/repositories/helm/zelic.yaml
  kubernetes/flux/meta/repositories/oci/capacitor.yaml
  kubernetes/flux/meta/repositories/oci/kustomization.yaml
  kubernetes/service/core/flux-system/capacitor/access/ingress.yaml
  kubernetes/service/core/flux-system/capacitor/access/networkpolicy.yaml
  kubernetes/service/core/flux-system/capacitor/helmrelease.yaml
  kubernetes/service/core/flux-system/capacitor/ks.yaml
  kubernetes/service/core/flux-system/capacitor/kustomization.yaml
Labels: area/kubernetes, cluster

chore(build): update devbox dependencies
  devbox.json
  devbox.lock
Labels: none

chore(docs) fix url in documentation
  README.md
Labels: none

fix(ci): fix the flux-diff github action
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-local.yaml
Labels: area/github

chore(flux): migrate capacitor & cf zero trust to helm repository
  kubernetes/flux/meta/repositories/git/cloudflare-zero-trust.yaml
  kubernetes/flux/meta/repositories/git/kustomization.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
  kubernetes/flux/meta/repositories/helm/sebastiangaiser.yaml
  kubernetes/flux/meta/repositories/helm/zelic.yaml
  kubernetes/flux/meta/repositories/oci/capacitor.yaml
  kubernetes/flux/meta/repositories/oci/kustomization.yaml
  kubernetes/service/core/flux-system/capacitor/access/ingress.yaml
  kubernetes/service/core/flux-system/capacitor/access/networkpolicy.yaml
  kubernetes/service/core/flux-system/capacitor/helmrelease.yaml
  kubernetes/service/core/flux-system/capacitor/ks.yaml
  kubernetes/service/core/flux-system/capacitor/kustomization.yaml
Labels: area/kubernetes, cluster

fix(tls): make tls certificate name generic
  kubernetes/bootstrap/apps/templates/resources.yaml.j2
  kubernetes/bootstrap/bootstrap.env
  kubernetes/service/core/cert-manager/cert-manager/tls/pushsecret.yaml
Labels: area/kubernetes, cluster

chore(docs) fix url in documentation
  README.md
Labels: none

chore(build): update devbox dependencies
  devbox.json
  devbox.lock
Labels: none

chore(tools): make flux task generic
  Taskfile.yaml
Labels: area/taskfile

build(git): replace path filters with dorny/paths-filter
  .github/workflows/flux-local.yaml
  .github/workflows/kubeconform.yaml
Labels: area/github

build(git): replace path filters with dorny/paths-filter
  .github/workflows/flux-local.yaml
  .github/workflows/kubeconform.yaml
Labels: area/github

build(git): fix flux-diff-success action dependency
  .github/workflows/flux-local.yaml
Labels: area/github

build(git): fix flux-diff-success action dependency
  .github/workflows/flux-local.yaml
Labels: area/github

build(git): fix dorny/paths-filter path for flux-local pull checks
  .github/workflows/flux-local.yaml
Labels: area/github

build(renovate): add devbox group
  .github/renovate/groups.json5
Labels: area/github

.github/labeler.yaml:

---
# Areas
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Clusters
cluster:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
